
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    font-family: 'Roboto';
    color: black;
} 

body {
    background-color: rgb(221, 221, 221);
}




input {
	width: 980px;
    height: 40px;
	position:relative;
	font-size: 20px;
	padding: 3px;
	display: inline-block;
	border-radius: 10px;
    border: 2px solid #1E1BA0;
}

.input img {
    position: absolute;
    left: 940px;
    margin-top: 13px;
    margin-bottom: 5px;

}
